# Data Science its tools and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1.Data science languages are as follows :
    1. SQL
    2. PYTHON
    3.R
    4.JAVA
    5.C++

2.Libraries of datascience are as follows:
    1. Matplotlib
    2. Numpy
    3. Seaborn
    4.Scikit learn
    5. Tensor flow
    6.SCIpy
    7. pytorch
    8.keras


3. Data Science tools :
    1.SAS
    2.Apache Hadoop
    3. Tensor Flow

### introducing arithmetic expression

In [19]:
# Below are a few examples of evaluating arithmetic expressions in Python.
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [20]:
# code cell to convert minutes to hours
# here i am convereting 200 min to hours
200/60

3.3333333333333335

__Objectives__
*list popular languages for datascience 
*list popular tools for data science 
*list different arithmetics operations for data science
*how to provide comments in the cell

#### Author
Aishwarya Kumar